::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.local-dropdown-selector,
.local-document-info,
.local-markdown-preview {
  width: 30%;
  height: 90%;
}

.local-document-info,
.local-dropdown-selector {
  overflow-y: auto;
}

.local-document-info {
  .token {
    width: 1rem;
    text-align: center;
    vertical-align: middle;
  }

  .local-field-container:not(:last-child) {
    margin-bottom: 10px;
  }
}

.local-markdown-preview {
  #markdown-preview {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }
}
